[Unit]
Description="Velas validator community monitor timer"
Requires=vvcm.service

[Timer]
Unit=vvcm.service
OnCalendar=*:00/2:00

[Install]
WantedBy=timers.target
